results/
gplas/results/
gplas_input/
gplas/gplas_input/
walks/
gplas/walks/
coverage/
gplas/coverage/
gplas.egg-info/
gplas/__pycache__/
gplas/scripts/__pycache__/
gplas/scripts/test_functions.py
gplas/scripts/test_multiprocessing.py
